.row {
    margin: 15px;
  }

  nav {
    top: 0;
    background: #fff;
    min-height: 60px;
    height: 60px;
  }

  #nav-image {
    width: 50px;
    height: 50px;
    border-radius: 100px;
  }
.nav-item{
    z-index: 1;
    background-color: #fff;
}

.img-fluid{
  width:100%;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

img {
    margin: 10px;
}