nav {
    top: 0;
    background: #fff;
    min-height: 60px;
    height: 60px;
  }

  #nav-image {
    width: 50px;
    height: 50px;
    border-radius: 100px;
  }

  .list_image {
    width: 400px;
  }

  .img-container img {
    margin: 10px;
    width: 200px;
    height: 200px;
    display: flex;
    gap: 0px;
    
    justify-content: center;
    text-align: center;
  }

  .resize_fit_center {
    width:100%;
    height:100%;
    object-fit: cover;
    vertical-align: middle;
}

.title {
  margin-bottom: 50px;
}

.bg-city-1 {
  background-color: rgb(243 243 243);
}

.bg-city-2 {
  background-color: #fff;
}