<head>
    <title>The Art of Isabella</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" rel="stylesheet">
    <link rel="stylesheet" href="./static/assets/css/paintings.css" />
    <link href="./static/assets/favicon.ico" rel="icon">
    <noscript><link rel="stylesheet" href="./static/assets/css/noscript.css" /></noscript>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>
</head>

<header >
    <nav class="navbar  navbar-expand-lg navbar-light top-navbar" data-toggle="sticky-onscroll">
        <div class="container">
            <a class="navbar-brand" href="/"><img id="nav-image" src="/static/assets/images/painting.jpg" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav pull-right">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="trips.html">Trips</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="paintings.html">Paintings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html#contact">Contact</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>

</header>
<!-- End top header-->

<body>
<div class="container">
    <div class="row">
        <a href="/static/assets/images/paintings/painting.JPG" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img id="#lightbox-container-image img" src="/static/assets/images/painting.JPG" class="img-fluid rounded">
        </a>
        <a href="/static/assets/images/paintings/own.JPG" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img src="/static/assets/images/own.JPG" class="img-fluid rounded">
        </a>
        <a href="/static/assets/images/paintings/dog.jpeg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img src="/static/assets/images/dog.jpeg" class="img-fluid rounded">
        </a>
    </div>
    <div class="row">
      <a href="/static/assets/images/paintings/vaca.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
        <img src="/static/assets/images/paintings/vaca.jpg" class="img-fluid rounded">
      </a>
      <a href="/static/assets/images/paintings/pintinho.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
        <img src="/static/assets/images/paintings/pintinho.jpg" class="img-fluid rounded">
      </a>
      <a href="/static/assets/images/paintings/bird.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
        <img src="/static/assets/images/paintings/bird.jpg" class="img-fluid rounded">
      </a>
    </div>
    <div class="row">
        <a href="/static/assets/images/paintings/carneiro.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
          <img src="/static/assets/images/paintings/carneiro.jpg" class="img-fluid rounded">
        </a>
        <a href="/static/assets/images/paintings/ganso.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
          <img src="/static/assets/images/paintings/ganso.jpg" class="img-fluid rounded">
        </a>
        <a href="/static/assets/images/paintings/baleia.jpg" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
          <img src="/static/assets/images/paintings/baleia.jpg" class="img-fluid rounded">
        </a>
      </div>
  </div>
      <script src="./static/assets/js/paintings.js"></script>
</body>

